<!--Categorias dos posts-->
<h3>Categoria</h3>

{% for post in post_category %}
<!-- aparece apenas se tiver post -->
{% if post %}
<div class="post-category" style="background-image: {% if post.url_to_image %}url({{ post.url_to_image }}) {% else %} linear-gradient(blue, black){% endif %}">

    <a href="
        {% url 'post_view' title=post.title %}">
        <div>
            <p>
                {{ post.title }}
            </p>
            <span class="destaque">{{ post.category }}</span>
        </div>
    </a>
</div>
{% endif %}
{% endfor %}