<!--Categorias dos posts-->

{% if post %}
<h3> Explore também as principais categorias</h3>

{% for post in post_category %}
<div class="post-category">

    <a href="{% url 'post_view' slug=post.slug %}">
        <article>

            <div style="background-image: {% if post.url_to_image %}url({{ post.url_to_image }}) {% else %} linear-gradient(blue, black){% endif %}">

                <span class="destaque">{{ post.category }}</span>
            </div>

            <h2 class="mt-2">
                {{ post.title }}
            </h2>

            <article>
            </a>
        </div>
        <hr />
    {% endfor %}
    {% endif %}