<div class="other-source-post mt-4">

    {% if posts_other_sources %}
    <h3>Veja também posts de outras fontes</h3>

    {% for post in posts_other_sources %}

    <div style="background-image: linear-gradient(white, gray)" class="post-container">

        <a href="{% url 'newsapi_post_view' title=post.title %}">
            <h1 class="post-title">{{ post.title }}</h1>

            <p style="text-indent: 5px">
                {{ post.created_at|date:"d, M Y, h:m" }} por <cite>{{ post.author }}</cite> | {{post.name }}
            </p>

            <div class="mx-2">
                {{ post.summary|safe }}
            </div>


        </a>

        <div class="bg-others-post" style="background-image: url({{ post.urlToImage }})">


            <a class="original-post-link" href="{{post.urlToPost}}">
                <span class="destaque">Ver original</span>
            </a>

        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>