APScheduler==3.11.0
asgiref==3.9.1
certifi==2025.1.31
charset-normalizer==2.1.1
DateTime==4.7
Django==5.2.4
django-ckeditor==6.7.3
django-js-asset==3.1.2
idna==3.10
pystyle==2.0
pytz==2025.1
requests==2.28.1
setuptools==75.8.0
sqlparse==0.5.3
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.20
zope.interface==7.2
