{% extends 'base.html' %}

{% load static %}

<!--Titulo-->
{% block title %}
{% if category %}

Bem-vindo ao Explore - Leia conteúdos exclusivos sobre tecnologia, desporto, celebridades e muito mais

{% else %}
Bem vindo ao Explore - Leia conteúdos exclusivos
{% endif %}
{% endblock title %}

<!--Meta title-->
{% block meta_title %}
{% if category %}
Bem-vindo ao Explore - Leia conteúdos exclusivos sobre tecnologia, desporto, celebridades e muito mais
{% else %}
Bem-vindo ao Explore - Leia conteúdos exclusivos
{% endif %}
{% endblock %}

<!--Meta description-->
{% block meta_description %}
Descubra artigos exclusivos sobre suas celebridades, desporto, tecnologia e muito mais. Veja os posts mais recentes aqui no Explore.
{% endblock %}


<!--Meta description Open Graph-->
{% block meta_description_og %}
Descubra artigos exclusivos sobre suas celebridades, desporto, tecnologia e muito mais. Veja os posts mais recentes aqui no Explore.
{% endblock %}



<!--Style block-->
{% block style %}
{% static 'css/general_style.css' %}
{% endblock style %}

{% block content %}

<main>
    <h1 class="sr-only">Blog Explore</h1>
    <p class="sr-only">
        Explore conosco artigos exclusivos sobre tecnologia, celebridades, desporto e muito mais.
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 bg-light">

                {% if all_posts %}
                {% for post in all_posts %}
                <a href="{% url 'post_view' slug=post.slug %}" class="post-link">
                    <article class="post-container ">
                        <h2 class="post-title">{{ post.title }}</h2>

                        <p style="text-indent: 7px">
                            {{ post.created_at|date:"d, M Y, h:m" }} por <cite>{{ post.author.get_full_name }}</cite>
                        </p>

                        {{ post.summary|safe }}

                        <img class="bg-light" src="{{ post.url_to_image }}" alt="{{ post.title }}" />
                </article>
            </a>
            {% endfor %}

            {% else %}
            <p class="mt-4 text-center">
                Nenhuma notícia encontrada!
            </p>
            {% endif %}
        </div>


        <div class="col-sm-4 post-category-container">
            <!--Categoria dos posts-->
            {% include 'category_posts.html' %}

            <!--Post veja também-->
            {% include 'see_more.html' %}
        </div>
    </div>


    <!--Posts de outras fontes-->
</div>

    {% include 'other_source_posts.html' %}
</main>
{% endblock content %}