{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--Bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" type="text/css" />
    
    <!--General Style-->
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" type="text/css" media="all" />

    <!-- Main stylesheet-->
    <link rel="stylesheet" href="{% block style %} {% endblock style %}" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}
        {% endblock title %}</title>
        
    <meta name="description" content="{% block meta_description %} {% endblock %}">
    
    
     <!-- Open Graph -->
  <meta property="og:title" content="{% block meta_title %}{% endblock %}">
  
  <meta property="og:description" content="{% block meta_description_og %} {% endblock %}">
  
  <meta property="og:type" content="{% if post %}article{% else %}website{% endif %}">
  
  <meta property="og:url" content="{% if post %} {% url 'post_view' slug=post.slug  %} {% elif category %} {% url 'posts_view' category %}
  {% else %}
  {% url 'home_view' %}
  {% endif %}">
  
  <meta property="og:image" content="{% if post.url_to_image %} {{ post.url_to_image }} {% else %} {% static 'img/logo/xplore-logo1.png'%} {% endif %}">

  <!-- Canonical -->
  <link rel="canonical" href="{% if post %} {% url 'post_view' slug=post.slug  %} {% elif category %} {% url 'posts_view' category %}
  {% else %}
  {% url 'home_view' %}
  {% endif %}">
  
    

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home_view' %}">
          <img src="{% static 'img/logo/xplore-logo1.png'%}" alt="xplore-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'posts_view' 'sport' %}">Desporto</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'posts_view' 'tech' %}">Tech</a></li>
            
            <li class="nav-item"><a class="nav-link" href="{% url 'posts_view' 'celebrity' %}">Celebridades em foco</a></li>
            
            <li class="nav-item"><a class="nav-link" href="{% url 'posts_view' 'lifestyle' %}">Lifestyle</a></li>
            
            <li class="nav-item "><a class="nav-link disabled" href="#"></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: linear-gradient(rgb(13,11,43) 60%, black)">
        <img src="{{ destaque.destaque1.url_to_image }}" class="d-block w-100" alt="Primeiro slide">
        <div class="carousel-caption d-md-block">
          <h5>
          {{ destaque.destaque1.title|default:'Nenhum post em destaque...' }}</h5>
          
          <p class="d-none">{{ destaque.destaque1.summary }}</p>
          
          <a class="btn btn-primary btn-sm {% if not destaque.destaque1 %}disabled{% endif %}" href="{% if destaque.destaque1 %}{% url 'post_view' slug=destaque.destaque1.slug %} {% endif %}">Ver mais</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: linear-gradient(rgb(13,11,43) 60%, black)">
        <img src="{{ destaque.destaque1.url_to_image }}" class="d-block w-100" alt="{{ destaque.destaque2.summary }}">
        <div class="carousel-caption d-md-block">
          <h5>
          {{ destaque.destaque2.title|default:'Nenhum post em destaque...' }}</h5>
          
          <p class="d-none">{{ destaque.destaque2.summary }}</p>
          
          <a class="btn btn-primary btn-sm {% if not destaque.destaque2 %}disabled{% endif %}" href="{% if destaque.destaque2 %}{% url 'post_view' pk=destaque.destaque2.pk %} {% endif %}">Ver mais</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: linear-gradient(rgb(13,11,43) 60%, black)">
        <img src="{{ destaque.destaque3.url_to_image }}" class="d-block w-100" alt="{{ destaque.destaque3.summary }}">
        <div class="carousel-caption d-md-block">
          <h5>
          {{ destaque.destaque3.title|default:'Nenhum post em destaque...' }}</h5>
          
          <p class="d-none">{{ destaque.destaque3.summary }}</p>
          
          <a class="btn btn-primary btn-sm {% if not destaque.destaque3 %}disabled{% endif %}" href="{% if destaque.destaque3 %}{% url 'post_view' pk=destaque.destaque3.pk %} {% endif %}">Ver mais</a>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
    


    {% block content %}

    {% endblock content %}

    <!-- Footer Block-->
    <footer class="bg-light">
        <!--News letter-->
        <div class="newsletter">
            <form class="form-group" method="POST">

                <legend>Assine nossa newsletter..</legend>
                <input class="form-control" type="email" name="email" id="email" value="" placeholder="exemplo@gmail.com" />

                <button class="btn btn-dark btn-md mt-2 disabled" type="submit">Assinar</button>
            </form>
        </div>

        <br /> <br /><br /><br /><br /> <br /> <br /> <hr />


        <div>
            <!-- Social media-->
            <ul>
                <li class="facebook"> <a href="#"><img src="{% static '/img/icon/facebook.png' %}" alt="facebook-icon" />
                </a></li>

                <li> <a href=""> <img src="{% static 'img/icon/instagram.png' %}" alt="Instagram-icon" /></a></a></li>

            <li> <a href=""> <img src="{% static 'img/icon/tiktok.png' %}" alt="tiktok-icon" /></a></li>

            <li>
                <a href="">

                    <img src="{% static 'img/icon/youtube.png' %}" alt="youtube-icon" />
                </a>
            </li>
        </a>
    </li>
</ul>

<p>
    © 2025 Xplore. Todos direitos reservados.
</p>
</div>
</footer>


<!--Bootstrap JS-->
<script src="{% static 'css/bootstrap/bootstrap.bundle.js' %}" type="text/javascript"></script>
</body>
</html>